@use "../abstracts/colors" as c;
@use "./form";

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding: 30px;
    gap: 30px;
    border-radius: 15px;
    background-color: c.$white;
}

@media only screen and (max-width: 1150px){
    main{
        width: 70%;
    }
}

@media only screen and (max-width: 750px){
    main{
        width: 50%;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 550px){
    main{
        width: 80%;
    }
}

@media only screen and (max-width: 400px){
    main{
        width: 80%;
    }
}